.game {
    width: 100%;
    box-shadow: 0 0 10px;
}
.basegame {
    width: 100%;
    height: 20%;
    box-shadow: 0 0 10px;
}
.textoverimage {
    left:27%;
    position: absolute;
    top: 10%;
    color: white;
    font-size: 30px;
}